<footer class="footer pb-3 w-100">
    <div class="container text-center">
        <span class=" footer_span" style="color: white;"> &copy; Judiciary Information System</span>
    </div>
    <div class="container text-center">
        <span class=" footer_span" style="color: white;">
                Made with &#10084;
        </span>
    </div>
</footer>