<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <center>
        <img style="height:80%; width:80%" src="pagenotfound.png">
        <p style="font-size:2.5vw;"><b>Oops!! Page Not Found :(</b></p>
    </center>
</body>
</html>